.header {
	background-color: #606363;
	width: 100%;
}

/* .form {
	border: 1px solid #606363;
} */

.icon {
	width: 5%;
}

.headerText {
	color: #FFFFFF;
	width: 95%;
	margin-top: 1px;
	margin-bottom: 2px;
}

.delete {
	float: right;
}  

.clear {
	font-weight: normal;
	color: #0000FF;
	margin-left: 205px;
	margin-top: 9px;
}

.seriesText {
	height: 28px;
	width: 225px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.seriesForm {
	margin-left: 20px;
	margin-bottom: 15px;
	border: 1px solid;
	width: 245px;
}

#seriesInput {
	width: 100%;
	margin-bottom: 5px;
	height: 28px;
}

.heading {
	margin-left: 10px;
}

.bottomRow {
	background-color: #bfbfbf;
	height: 30px;
	width: 100%;
	margin-top: 15px;
}

.chooseSeriesField {
	margin-left: 10px;
	width: 225px;
}

.loadImage {
	height: 20px;
}







