#sidenav {
	font-size: .9rem;
}

#addSeries {
	margin-left: 20px;
	width: 245px;
}

.input {
	width: 100px;
}

.chartSelect {
	width: 85%;
}

.saveConfirmation {
	margin: auto;
	font-size: 1.2rem;
	font-weight: bold;
	color: green;
}

.saveFailure {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	font-color: red;
}

.required {
	font-size: .7rem;
	font-weight: bold;
	color: #FF0000;
}

#renderChart {
	margin-left: 20px;
	width: 110px;
	margin-right: 13px;
}

#close {
	width: 110px;
}

#clear {
	margin-left: 20px;
	width: 110px;
	margin-right: 13px; 
}

#save {
	width: 110px;
}

#chartName {
	text-align: center;
}

#sidenavHeader {
	background: #606363;
	height: 40px;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	padding-left: 10px;
	padding-top: 5px; 
}

.headerText {
	font-color: #FFFFFF;
	font-size: 1.2rem;
}

.chooseDatasource {
	width: 60%;
	margin-right: 45px;
}

.chart-view {
	width: 100%;
	height: 100%;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-25%, -50%);
}

.md-button {
	min-height: 35px;
}

.inputHeading {
	margin-left: 20px;
}

select {
	margin-left: 20px;
	border: 0;
	border-radius: 3px;
	background: transparent;
	height: 35px;
	border: 1px solid #bfbfbf;
	text-overflow:ellipsis;
}

input {
	height: 35px;
	margin-left: 20px;
}

#chart {
	max-height: 750px;
}

.c3 {
	max-height: 750px;
}

.svg {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.md-button {
	text-transform: none;
}
