.header {
	background-color: #606363;
	height: 40px;
	width: 100%;
}

.headerText {
	color: #FFFFFF;
	width: 95%;
	vertical-align: middle;
}

.seriesName {
	vertical-align: 10px;
}

.delete-icon {
	float: right;
	margin-top: 2px; 
	margin-right: -5px;
	fill: white;
}  

.clear {
	font-weight: normal;
	color: #0000FF;
	margin-left: 205px;
	margin-top: 9px;
}

.seriesForm {
	margin-left: 20px;
	margin-bottom: 35px;
	border: 1px solid;
	width: 245px;
}

#checkbox {
	margin-left: 10px;
}

.heading {
	margin-left: 10px;
}

.seriesInput {
	margin-left: 10px;
	width: 225px;
	margin-bottom: 15px;
}

.systemSelect {
	margin-left: 10px;
	height: 200px;
	width: 225px;
}

.bottomRow {
	background-color: #bfbfbf;
	height: 30px;
	width: 100%;
}

.loading {
	height: 35px;
}

.arrow-icon {
	fill: white;
}

.secondaryAxisLabel {
	padding-top: 12px;
}

.secondaryAxis {
	margin-left: -9px;
	margin-top: -10px;
	margin-bottom: 15px;
}

.systemsExplanationLabel {
	font-size: .8rem;
	margin-left: 10px;
}

.arrow-icon:hover {
	cursor: pointer;
}

.delete-icon:hover {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}