.title {
	margin-left: 32px;
}
.chooserRow {
	padding:24px 15px;
    display: flex;
}
md-select {
	padding:0;
	padding-left: 15px;
    display: flex;
}
.md-select-label {
	min-height: 19px;
	padding: 0;
	line-height: 1;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

tr:nth-child(even) {
	background: #E8E8E8
}
tr:nth-child(odd) {
	background: #FFFFFF
}

.chartMenu {
	border: 1px solid black;
	width: 40%;
	margin-left: 7%;
	margin-top: 20px;
	margin-right: 5%;
}

.dashboardMenu {
	border: 1px solid black;
	width: 40%;
	margin-top: 20px;
	float: left;
}

.datasourceMenu {
	border: 1px solid black;
	width: 40%;
	margin-top: 20px;
	margin-left: 52%;
}

#createButton {
	float: right;
	height: 28px;
}

html, body {
	font-size: 100%;
}