.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: normal;
}

.clearfix:after {
	clear: both;
}   

.title {
	margin-left: 32px;
}
.chooserRow {
	padding:24px 15px;
    display: flex;
}
md-select {
	padding:0;
	padding-left: 15px;
    display: flex;
}
.md-select-label {
	min-height: 19px;
	padding: 0;
	line-height: 1;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
tr:nth-child(even) {
	background: #E0E0E0
}
tr:nth-child(odd) {
	background: #FFFFFF
}
a {
    color: #616161;
}
a:hover, a:active {
    color: #000000; 
}
.home-icon-light {
	fill: #FFFFFF;
}
.home-icon-light:hover {
	fill: #E0E0E0;
}
.duplicate-icon-dark {
	fill: #616161;
}
.duplicate-icon-dark:hover {
	fill: #000000;
}
.delete-icon-dark {
	fill: #616161;
}
.delete-icon-dark:hover {
	fill: #000000;
}
.chartrowIconAnchor {
	display: inline-block;
	padding: 5px 5px 2px;
}
.chartrowLinkAnchor {
	line-height: 32px;
	padding: 0px 11px 0px;
	font-weight: bold;
	text-decoration: none;
}
.right {
	float: right;
}
.chartMenu {
	border: 1px solid black;
	width: 40%;
	margin-left: 7%;
	margin-top: 20px;
	margin-right: 5%;
}

.dashboardMenu {
	border: 1px solid black;
	width: 40%;
	margin-top: 20px;
	float: left;
}

.datasourceMenu {
	border: 1px solid black;
	width: 40%;
	margin-top: 20px;
	margin-left: 52%;
}

#createButton {
	float: right;
	height: 35px;
}
