<md-dialog aria-label="Datasource">
<form>
	<md-dialog-content class="sticky-container"> 
		<md-subheader class="md-sticky-no-effect">Add Datasource</md-subheader>
		
		<md-content layout-padding layout="row">
			<md-input-container> 
				<label>Name</label>
				<input ng-model="name" type="text"> 
			</md-input-container> 
			<md-input-container> 
				<label>URL</label>
				<input ng-model="URL" type="text"> 
			</md-input-container> 
			<span class="infoIconSpan" layout="column">
				<span flex></span>
				<a title="URL Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Datasource-URL-Syntax" target="_blank" class="infoIconAnchor"> 
					<i class="material-icons">info</i>
				</a>
			</span>
		</md-content>
	</md-dialog-content>
	
	<div ng-controller="dataSourceControl" class="md-actions" layout="row">
		<span flex></span>
		<div ng-show="successfulConnection != null && successfulConnection">
			<p class="successful"> Succeeded </p>
		</div>
		<div ng-show="successfulConnection != null && (!successfulConnection)">
			<p class="notSuccessful"> Failed </p>
		</div>
		<md-button ng-disabled="!fieldsArePoplated()" ng-click="testConnection()" class="md-primary md-raised"> Test Connection </md-button>
		<md-button ng-disabled="!fieldsArePoplated()" ng-click="saveDataSource()" class="md-primary md-raised"> Save </md-button>
		<md-button ng-click="answer('Cancel')" class="md-primary md-raised"> Cancel </md-button>
	</div>
</form>
</md-dialog>