<md-dialog aria-label="Datasource">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>DataSource parameters:</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row">
       <label class="advancedLabel">Name:</label>
    </div>
    <input class="advancedText" type="text" ng-model="name">
    <div layout="row">
     <label class="advancedLabel">URL</label>
    </div>
    <input class="advancedText" type="text" ng-model="URL">
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="saveDatasource()" class="md-primary md-raised">
     Save
    </md-button>
        <md-button ng-click="answer('Cancel')" class="md-primary md-raised">
     Cancel
    </md-button>
  </div>
  </form>
</md-dialog>