<md-dialog aria-label="Datasource">
<form>
	<md-dialog-content class="sticky-container"> 
		<md-subheader class="md-sticky-no-effect">Edit Datasource</md-subheader> <!-- MAKE TOP BAR DARK GREY -->
		
		<md-content layout-padding layout="row" layout-sm="column">
			<md-input-container> 
				<label>Name</label>
				<input ng-model="name" type="text"> 
			</md-input-container> 
			<md-input-container> 
				<label>URL</label>
				<input ng-model="URL" type="text"> 
			</md-input-container> 
		</md-content>
	</md-dialog-content>
	
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-controller="dataSourceControl" ng-click="editDataSource()" class="md-primary md-raised"> Update </md-button>
		<md-button ng-click="answer('Cancel')" class="md-primary md-raised"> Cancel </md-button>
	</div>
</form>
</md-dialog>