<md-dialog aria-label="Datasource">
	<md-subheader class="md-no-sticky">
     	Edit Datasource
	</md-subheader>
	<form>
		<md-dialog-content class="md-dialog-content" role="dialog"> 
			<md-input-container class=""> 
				<label>Name</label>
				<input ng-model="name" type="text"> 
			</md-input-container> 
			<md-input-container class="formRow"> 
				<label>URL</label>
				<input ng-model="URL" type="text"> 
				<a title="URL Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Datasource-URL-Syntax" target="_blank" class="infoIconAnchor"> 
					<i class="material-icons">info</i>
				</a>
			</md-input-container>
			<md-checkbox md-no-ink="" ng-model="publiclyVisible" class="md-primary">
	          Public? 
	    	</md-checkbox>
		</md-dialog-content>
	
		<div ng-controller="dataSourceControl" class="md-actions" layout="row">
			<div class="msgBlock">
				<div ng-show="successfulConnection != null && successfulConnection">
					<p class="successful"> Succeeded </p>
				</div>
				<div ng-show="successfulConnection != null && (!successfulConnection)">
					<p class="notSuccessful"> Failed </p>
				</div>
			</div>
			<md-button ng-click="answer('Cancel')" class="secondaryBtn md-raised"> Cancel</md-button>
			<md-button ng-disabled="!fieldsArePoplated()" ng-click="testConnection()" class="md-primary md-raised"> Test Connection </md-button>
			<md-button ng-disabled="!fieldsArePoplated()" ng-click="editDataSource()" class="md-primary md-raised"> Update </md-button>
			
		</div>
	</form>

</md-dialog>