<div>
	<!-- {{pageTitle}} -->
	<div layout="row">
	<div class="chartMenu" layout="column">
 		<md-toolbar>
    		<div class="md-toolbar-tools">
      			<h3>
        			<span>My Charts</span>
      			</h3>
    		</div>
  		</md-toolbar>
  		<div>
			<table style="width: 100%">
				<tr ng-repeat="chart in charts"> 

					<td> <a href="#/chart/{{chart.id}}">{{ chart.chartName }}</a><ng-md-icon class="delete" icon="delete" size="20" style="fill:#616161" ng-click="deleteChart(chart.id)"></ng-md-icon></td>

				</tr>
			</table>
		</div>
  		<md-content>
			<md-button id="createButton" class="md-raised md-primary" ng-click="showChart();openSideNav()"> Create </md-button>
  		</md-content>
	</div>
	
	<div class="dashboardMenu" layout="column">
 		<md-toolbar>
    		<div class="md-toolbar-tools">
      			<h3>
        			<span>My Dashboards</span>
      			</h3>
    		</div>
  		</md-toolbar>
  		<md-content>
			<md-button id="createButton" class="md-raised md-primary" ng-disabled="true"> Create </md-button>
  		</md-content>
	</div>
	</div>
</div>