<div ng-controller="homeControl">
	<!-- {{pageTitle}} -->
	<div layout="row">
	<div class="chartMenu" layout="column">
 		<md-toolbar>
    		<div class="md-toolbar-tools">
      			<h3>
        			<span>My Charts</span>
      			</h3>
    		</div>
  		</md-toolbar>
  		<div>
			<table style="width: 100%">
				<tr ng-repeat="chart in charts"> 
					<td> {{ chart.chartName }}  </td>
				</tr>
			</table>
		</div>
  		<md-content>
			<md-button id="createButton" class="md-raised md-primary" ng-click="showChart();openSideNav()"> Create </md-button>
  		</md-content>
	</div>
	
	<div class="dashboardMenu" layout="column">
 		<md-toolbar>
    		<div class="md-toolbar-tools">
      			<h3>
        			<span>My Dashboards</span>
      			</h3>
    		</div>
  		</md-toolbar>
  		<md-content>
			<md-button id="createButton" class="md-raised md-primary" ng-disabled="true"> Create </md-button>
  		</md-content>
	</div>
	</div>
	
	<div layout="row">
	<div class="datasourceMenu" layout="column">
 		<md-toolbar>
    		<div class="md-toolbar-tools">
      			<h3>
        			<span>My Datasources</span>
      			</h3>
    		</div>
  		</md-toolbar>
  		<md-content>
			<md-button id="createButton" class="md-raised md-primary" ng-disabled="true"> Edit Datasources </md-button>
  		</md-content>
	</div>
	</div>
	
</div>