<md-dialog aria-label="Advanced Options">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Advanced Options</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row">
      	<label class="advancedLabel">Primary Y-axis Custom Name</label>
    </div>
    <input class="advancedText" type="text" ng-model="primaryAxisName" ng-blur="savePrimaryName()">
    <div layout="row">
    	<label class="advancedLabel">Secondary Y-axis Custom Name</label>
    </div>
    <input class="advancedText" type="text" ng-model="secondaryAxisName" ng-blur="saveSecondaryName()">
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('Close')" class="md-primary md-raised">
     Close
    </md-button>
  </div>
  </form>
</md-dialog>