<form class="insideForm" ng-controller="chartSeriesControl">
	<div ng-click="toggleActive()">
	<h4><ng-md-icon icon="keyboard_arrow_right" size="20" ng-hide="active"></ng-md-icon>{{seriesHeader()}}</h4>
	</div>
	<div ng-show="active">
	<span>Series Name: <span class="required">*</span></span>
	<br/>
	
	<input type="text" ng-model="seriesName" value="" name="seriesName" ng-blur="saveSeriesName()"/>
	<br/>
   			<span>Choose system: <span class="required">*</span></span> 
	<br/>
	<select class="chartSelect" ng-options="system as system.id for system in systems" ng-model="chosenSystem" ng-change="loadCategories()" required>
		<option value="">Select a system</option>
	</select> <img src="images/dataLoading.gif" ng-show="isLoading(chosenDatabase, systems)">
	<br/>
	<span>Choose category: <span class="required">*</span></span> 
	<br/>
	<select class="chartSelect" ng-options="category as category.name for category in categories" ng-model="chosenCategory" ng-change="loadFields()">
		<option value="">Select a category</option>
	</select><img src="images/dataLoading.gif" ng-show="isLoading(chosenSystem, categories)">
	<br/>
	<span>Choose category field: <span class="required">*</span></span>
	<br/>
	<select class="chartSelect" ng-options="field as field.name for field in fields" ng-model="chosenField" ng-change="loadAggregations()">
		<option value="">Select a category field</option>
	</select><img src="images/dataLoading.gif" ng-show="isLoading(chosenCategory, fields)">
	<br/>
	<span>Choose aggregation method:</span>
	<br/>
	<select class="chartSelect" ng-options="aggregationMethod as aggregationMethod for aggregationMethod in aggregationMethods" ng-model="chosenAggregationMethod" ng-change="saveAggregation()">
		<option value="">Select an aggregation method</option>
	</select><img src="images/dataLoading.gif" ng-show="isLoading(chosenField, aggregationMethods)">
	</div>
</form>