<body>
<div ng-controller="sideNavControl" layout="row" flex="flex">
    <md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="isToggled()">
    	<div class="formContainer"> 
    		<!-- <md-subheader class="md-no-sticky">
	        	Chart Information
	  		</md-subheader> -->
	  		<div class="panelHeaders">
	  			Chart Information
	  		</div>
	  		
	  		<div class="formInnerContainer"> 
	  			 <md-input-container>
					<label class="inputHeading" for="chartName">Chart Name <span class="required">*</span></label>
					<input class="chartInput" type="text" ng-model="chart.chartName" value="" id="chartName" name="chartName" ng-blur="saveChartName()" />
				 </md-input-container>
				
				<md-input-container>
					<div class="dataBaseRow">
	  				<label>Datasource</label>
	  				<md-select class="chartInput" ng-model="chart.chosenDatasource" id="datasource" ng-disabled="disableTopOptions()" ng-change="loadDatabases()">
	  					<md-option ng-value="datasource" ng-repeat="datasource in datasources">{{datasource.name}}</md-option>
	  				</md-select>
	  				</div>
		      	</md-input-container>
		      	
				<md-input-container>
			      	<div class="dataBaseRow">
		  				<label>Database <span class="required">*</span></label>
		  				<md-select class="chartInput" ng-model="chart.chosenDatabase" id="database" ng-disabled="disableTopOptions()" ng-change="initSeries()" placeholder="Select a database">
		  					<md-option ng-value="database" ng-repeat="database in databases">{{database.name}}</md-option>
		  				</md-select>
		  				<img src="images/smallLoadingSaving.gif" ng-show="isLoading(chosenDatasource, databases)" />
	  				</div>
		      	</md-input-container>
	  			
		      	<div class="dateRow">
		      		<div class="dateContainer">
		      			<md-input-container>
							<label for="startTime" class="inputHeading">From: <span class="required">*</span></label>
							<input class="from" name="startTime" type="text" id="startTime" ng-model="chart.timeStart"/>
						 </md-input-container>
		      		</div>
		      		<div class="dateContainer">
		      			<md-input-container>
							<label for="endTime" class="inputHeading">To: <span class="required">*</span></label>
							<input class="to" type="text" name="endTime" id="endTime" ng-model="chart.timeEnd"/>
						 </md-input-container>
		      		</div>
		      		<a title="Date Range Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Date-Range-Parameter-Syntax" target="_blank" class="infoIconAnchorChartDate"> 
						<i class="material-icons">info</i>
					</a>
		      	</div>
		      	<div class="CheckRow">
			      	<md-checkbox class="" ng-model="chart.publiclyVisible">
			      		Public?
			      	</md-checkbox>
		      	</div>
	  		</div>
	    </div>  	
		    
		    <md-button title="Advanced Options" id="advanced" class="md-raised md-primary customChartBtn" ng-click="showAdvanced($event)">Custom Labels</md-button>
			<div class="form" ng-repeat="item in chart.series" >
				<chart-series all-series="chart.series" series="item" ng-click="setActiveSeries($index)"></chart-series>
		  	</div>
		  	<div class="seriesNameError" ng-show="invalidSeriesNames()">Cannot have matching series names.</div>
		  	<md-button title="Add Series" id="addSeries" class="md-raised md-primary customChartBtn" ng-disabled="renderDisabled()" ng-click="addSeries()">Add Another Series</md-button>
	
	  		<md-button title="Render" id="renderChart" ng-disabled="renderDisabled()" ng-click="showChart()" class="md-raised md-primary customChartBtn">Render</md-button>
	  		<div class="textRight">
		  		<md-button title="Clear" id="clear" ng-click="clearAllFields()" class="md-raised secondaryBtn">Clear</md-button>
		       	<md-button title="Save or Update" id="save" ng-disabled="saveDisabled()" class="md-raised md-primary saveBtn" ng-click="saveOrUpdateChart()"> {{ saveOrUpdateChartLabel }} </md-button>
	       	</div>

    	
    		
     	
      	
		<!-- <div>	
			
      		<div layout="row">
	      		
	      		<span class="infoIconSpanChartDate" layout="column">
					<span flex="flex"></span>
					<a title="Date Range Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Date-Range-Parameter-Syntax" target="_blank" class="infoIconAnchorChartDate"> 
						<i class="material-icons">info</i>
					</a>
				</span>
      		</div>
      		<div layout="row">
	      		
      		</div>
      		<a title="Advanced Options"><md-button title="Advanced Options" id="advanced" class="md-raised md-primary" ng-click="showAdvanced($event)">Custom Labels</md-button></a>
			<div class="form" ng-repeat="item in chart.series" >
				<chart-series all-series="chart.series" series="item" ng-click="setActiveSeries($index)"></chart-series>
		  	</div>
		  	<span class="seriesNameError" ng-show="invalidSeriesNames()">Cannot have matching series names.</span>
		  	<div class="addSeriesRow" layout="row">
		  		<a title="Add Series"><md-button title="Add Series" id="addSeries" class="md-raised md-primary" ng-disabled="renderDisabled()" ng-click="addSeries()">Add Another Series</md-button></a>
		  	</div>

	  		<a title="Render"><md-button title="Render" id="renderChart" ng-disabled="renderDisabled()" ng-click="showChart()" class="md-raised md-primary">Render</md-button></a>
        	<a title="Save"><md-button title="Save or Update" id="save" ng-disabled="saveDisabled()" class="md-raised md-primary" ng-click="saveOrUpdateChart()"> {{ saveOrUpdateChartLabel }} </md-button></a>
        	<a title="Clear"><md-button title="Clear" id="clear" ng-click="clearAllFields()" class="md-raised">Clear</md-button></a>
        	
       	</div> -->
    </md-sidenav>	    
    <md-content class="md-accl chart-view not-scrollable" flex="flex">
    	<div ng-if="isViewOnly()">
      		<md-button ng-click="viewParameterInfo($event)" class="md-raised md-primary"> INFO </md-button>
      	</div>
 		<div layout="row">
	 		<div class="sideButton" title="Toggle Menu Bar">
	 			<md-button layout="column" ng-show="showToggleButton()" ng-click="toggleSideNav()" id="openConfig" class="md-raised md-primary">{{sideNavToggle()}}</md-button>
	 		</div>
     		<div layout="column" ng-controller="chartRenderControl" class="chartDiv"> 
     			<img src="images/loadingSaving.gif" ng-show="isChartLoading()" class="centered">
     			
     			<div ng-show="isShowable()">
     				<div ng-show="isSuccessfullySaved() != null && isSuccessfullySaved()">
						<p class="saveConfirmation"> {{ getSaveConfirmationLabel() }} </p>
					</div>
					<div ng-show="isSuccessfullySaved() != null && (!isSuccessfullySaved())" >
						<p class="saveFailure">Failed to save the chart.</p>
					</div><br/>
					<p class="chartName"> {{name()}} </p>
					<div id="chart"></div>
					
					<div ng-if="enableTimeAdjustmentControls()">
			      		
			      		
			      		<div layout="row" layout-sm="column" class="responsiveRow">
	    					<div class="responsiveCol" flex>
			      				<md-input-container>
									<label class="">From:</label>
									<input class="from viewTimeParamInput" name="startTime" type="text" id="startTime" value="" ng-model="chart.timeStart"/>
								</md-input-container>
			      			</div>
			      			<div class="responsiveCol" flex>
			      				<md-input-container>
									<label class="">To:</label>
									<input class="to viewTimeParamInput" type="text" name="endTime" id="endTime" value="" ng-model="chart.timeEnd"/>
									<a title="Date Range Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Date-Range-Parameter-Syntax" target="_blank" class="viewTimeSyntaxIcon"> 
										<i class="material-icons">info</i>
									</a>
								</md-input-container>
			      			</div>
			      		</div>
			      		
			      		<div class="text-right">
				      		<md-button title="Render" id="renderChart" ng-disabled="!timeParamsPopulated()" ng-click="showChart()" class="md-raised md-primary">Render</md-button>
							<!-- MAKE ng-disabled DO THINGS -->
			      		</div>
			      		
			      		
			      		
			      		
			      		<!-- <div>
			      			<label for="startTime">From:</label>
			      			<input class="from viewTimeParamInput" name="startTime" type="text" id="startTime" ng-model="chart.timeStart"/>
			      		</div>
			      		<div>
			      			<label for="endTime">To:</label>
			      			<input class="to viewTimeParamInput" type="text" name="endTime" id="endTime" ng-model="chart.timeEnd"/>
			      		</div> -->
			      		<!-- <span class="" layout="column">
							<a title="Date Range Syntax" href="https://github.com/FollettSchoolSolutions/perfmon4j-reports/wiki/Date-Range-Parameter-Syntax" target="_blank" class="viewTimeSyntaxIcon"> 
								<i class="material-icons">info</i>
							</a>
						</span> -->
						<!-- <md-button title="Render" id="renderChart" ng-disabled="!timeParamsPopulated()" ng-click="showChart()" class="md-raised md-primary">Render</md-button> -->
						<!-- MAKE ng-disabled DO THINGS -->
		      		</div>
				</div>
			</div>
		</div>
   	</md-content>
</div>
</body>
