<div ng-controller="chartControl">
	<h2 class="title">{{ pageTitle }}</h2>
	 
	<div layout="row" class="chooserRow"> 
		<span>Choose database:</span>
		<md-select placeholder="click" ng-model="chosenDatabase" >
       		<md-option ng-repeat="database in databases" value="{{database.id}}">{{database.id}}</md-option>
     		</md-select>
	</div>
	<div layout="row" class="chooserRow">
		<span>You have chosen: {{chosenDatabase}}</span>
	</div>
	<!--  
	<div layout="row" class="chooserRow"> 
		<span>Choose system:</span>
		<md-select placeholder="click" ng-model="chosenSystem" >
       		<md-option ng-repeat="system in systems" value="{{system.id}}">{{system.id}}</md-option>
     		</md-select>
	</div>
	<div layout="row" class="chooserRow">
		<span>You have chosen: {{chosenSystem}}</span>
	</div>
	 -->
	 
	 <md-button ng-click="addAnotherSeries()" class="md-raised md-primary">Add Another Series</md-button>
	 <md-button ng-click="showChart()" class="md-raised md-primary">Show Chart</md-button>
	 <div id="chart"></div>
</div>